RewriteEngine on
RewriteRule ^tag/(.*)$ taglinks.php?id=$1 [L]
RewriteRule ^page/(.*)$ page.php?pageId=$1 [L]
RewriteRule ^category/([^/]*)$ catlinks.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ show.php?id=$1 [QSA,L]
